/* Moviles (2 columnas) */
@media (max-width: 768px) {
  .contenedor-monedas {
    grid-template-columns: repeat(2, 1fr);
  }

  #buscador,
  #selector-serie {
    max-width: 90%;
  }


  .tarjeta {
    font-size: 12px;
    width: 140px;
  }
}

/* Para PC (responsive) */
@media (min-width: 1025px) {
  .tarjeta {
    margin: 8px;
  }

}

